.cards {
	margin-bottom: 20rem;
	.container {
		padding: 0 8rem;
		@include responsive(max-tablet) {
			padding: 0 3.2rem;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		column-gap: 3rem;
		row-gap: 4rem;
		@include responsive(max-tablet) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: left;
		max-width: 35rem;
		position: relative;
		@include responsive(max-tablet) {
			flex-direction: row;
			align-items: center;
			width: 100%;
			max-width: 57rem;
			justify-content: space-between;
			column-gap: 3rem;
		}
		@include responsive(max-phone) {
			flex-direction: column;
			text-align: center;
		}
		&-info {
			@include responsive(max-tablet) {
				max-width: 40rem;
			}
		}
		&-img {
			margin-bottom: 4rem;
			width: 9.6rem;
			height: 9.6rem;
			@include responsive(max-phone) {
				margin-bottom: 2.4rem;
				width: 5.6rem;
				height: 5.6rem;
			}
		}
		&:last-child::before {
			content: "";
			width: 100vw;
			top: 4rem;

			right: 100%;
			height: 1.5rem;
			position: absolute;
			background-color: $light-grey;
			z-index: -1;
			@include responsive(max-tablet) {
				height: 100vh;
				width: 1.5rem;
				top: auto;
				bottom: 0;

				left: 4.1rem;
				bottom: 4rem;
			}
			@include responsive(max-phone) {
				display: none;
			}
		}
		&-title {
			margin-bottom: 2.7rem;
		}
	}
}
