.footer {
	.container {
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 111rem;
		width: 100%;
		padding: 10.2rem 0;
		background-color: #495567;
	}
	&__title {
		max-width: 41.5rem;
		color: white;
	}
	.apps {
		column-gap: 1.8rem;
	}
}
