.toggle-btn {
	position: absolute;
	left: 3.2rem;
	display: none;
	@include responsive(min-tablet) {
		display: inline-block;
	}
}
.btn {
	width: 18rem;
	height: 5.3rem;
	background-color: $yellow;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.btn:hover{
    border: 3px solid $yellow;
    background-color: inherit;
    color: $yellow;
}
